{% extends "header.html" %}

{% block head %}
    {{ super() }}

    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/solar/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/square1.css"/>

    <style>
        body {
            background-color: #434243;
        }

        header {
            margin-left: 400px;
        }


        [class*="slideshow"] {
            max-width: 1000px;
            height: 500px;
            margin: 0 auto 40px;
            outline: none;
        }

        .lowcontainer {
            width: 600px;
            color: white;
            font-family: SansSerif;
            font-size: 40px;
            margin: 200px;
        }

    </style>
{% endblock %}


{% block navbar %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="slideshow example-2">
            <img src="/static/images/1.jpg">
            <img src="/static/images/2.jpg">
            <img src="/static/images/ss.jpg">
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/js/square1.js"></script>
    <script>
        $('.example-2').square1({animation: 'slide'});
    </script>


    <h1 style="text-align: center; color: white; margin: 70px;">About us</h1>
    <iframe style="margin-left: 300px" width="800" height="405" src="https://www.youtube.com/embed/M7Mlu2wJlNU">
    </iframe>


    <div class="container2">
        <div class="lowcontainer">
            <p style="float: left;">The <small>dashboard lets you </small> handle <small>the user and manage the user's
                services</small></p>
        </div>
        <img style="float: right; height: 350px; margin-right: 250px; border-radius: 5%"
             src="/static/images/signin.jpg" width="600px">

    </div>


    <button class="btn btn-danger" type="submit"><a href="/dashboard" style="text-decoration: none; color: white;"> GO
        To
        Dashboard </a></button>

{% endblock %}