<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<body>
<style>
    #addform {
        width: 600px;
        margin-left: 300px;
        margin-top: 30px;
        display: none;
        border-width: 1px;
        border-color: #434243;
        border-style: solid;
    }

    #inputsearch {
        margin-left: 600px;
    }

    #sidenav {
        top: 0px;
        bottom: 0px;
        height: 1200px;
        position: fixed;
        z-index: -1;
    }

    div h4:first-child {
        margin-top: 80px;
        color: chartreuse;
    }

    div h4 {
        color: white;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .container .card-img-top {
        background-color: #7c7777;
        color: white;
    }

</style>

<nav class="navbar navbar-dark bg-dark">
    <h2 style=" margin-left:20px; font-family: 'Rockwell Extra Bold'; color: white;">Make It Work ..*..AR</h2>


    <a class="form-inline">
        <input id="inputsearch" class="form-control" type="search" placeholder="Search"
               aria-label="Search">
        <button onclick="show_input()" class="btn btn-info">
            <i class="fas fa-search"></i>
        </button>

        <a href="#" style="text-decoration: none; color: white; font-size: 30px;"> <i class="fas fa-bell"></i></a>
        <img style=" border-radius:50%;" src="/static/images/user_d.png" width="50px" height="40px"></a>
    </form>


</nav>
</div>


{# SideNav #}
<div class="pos-f-t" id="sidenav" style="float: left; width: 100px;">
    <div class="bg-dark p-4">
        <h4><i class="fas fa-tachometer-alt"></i></h4>
        <h6 style="color: chartreuse;">Home</h6>
        <h4><i class="fas fa-users-cog"></i></h4>
        <h6 class="text-white">Subscribe settings</h6>
        <h4 onclick="show_form()"><i class="fas fa-user-plus"></i></h4>
        <h6 onclick="show_form()" class="text-white">Register new </h6>
        <h4><i class="fas fa-cogs"></i></h4>
        <h6 class="text-white">Configure</h6>

    </div>
</div>


<form method="post" class="p-5" id="addform" action="addclient">
    <div>
        <h4 onclick="hide_form()"; style="cursor: pointer; color:#ff0202; float: right; margin-top: -63px; ">X</h4>
    </div>

    <h2 style="text-align: center; Color: black; font-family: SansSerif;">Add New Client in Subscription List</h2>

    <div class="form-group">
        <label for="uname"><i class="fas fa-user"></i> CLient Name</label>
        <input class="form-control" type="text" placeholder="Enter the clients name" name="uname"><br>
    </div>

    <div class="form-group">
        <label for="uaddress"><i class="fas fa-warehouse"></i> Client Address</label>
        <input type="text" class="form-control" placeholder="Enter the address " name="uaddress">
    </div>

    <div class="form-group">
        <label for="uphone"><i class="fas fa-phone"></i> Phone Number</label>
        <input type="tel" class="form-control" placeholder="Enter the phone Number" name="uphone">
    </div>

    <div class="form-group">
        <label for="udue"><i class="fas fa-wallet"></i> Client Due Balance :</label>
        <input type="number" class="form-control" name="udue">
    </div>

    <input type="submit" class=" form-control btn btn-outline-info" name="Add"></input>
</form>


{#    Lets work upon the actual dashboard#}
<div class="containerrht" style="float: right; width: 90%">
    <h1 style="color: grey; font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">
        PAYMENTS</h1>
    <div class="container">
        <div class="card-deck">
            <div class="card" style="background-color: #cf18fd;">

                <div class="card-body">
                    <h5 class="card-title">+900$</h5>
                    <p class="card-text">He doesnot pay you bill in time</p>
                </div>
                <div class="card-img-top">
                    <p>All User Records ...</p>
                </div>
            </div>

            <div class="card" style="background-color: #0eff67;">

                <div class="card-body">
                    <h5 class="card-title">+25.665%</h5>
                    <p class="card-text">He doesnot pay you bill in time</p>
                </div>
                <div class="card-img-top">
                    <p>All User Records ...</p>
                </div>

            </div>
            <div class="card" style="background-color:cyan">

                <div class="card-body">
                    <h5 class="card-title">+14.25%</h5>
                    <p class="card-text">He doesnot pay you bill in time</p>
                </div>
                <div class="card-img-top">
                    <p>All User Records ...</p>
                </div>

            </div>

        </div>

    </div>
    <br><br><br><br>

    <div class="left-container" style="width: 50%; margin-top:100px; float: left;">
        <div class="card-deck" style="width: 600px; text-align: center;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">36</h5>
                    <p class="card-text">Total Number of clients </p>
                </div>
            </div>
            <div class="card" style="background-color: red;color: white;">
                <div class="card-body">
                    <h5 class="card-title">27</h5>
                    <p class="card-text">Total Transaction </p>
                </div>
            </div>

        </div>

        <br>
        <div class="card-deck" style="width: 600px; text-align: center;">
            <div class="card" style="background-color: #8c9af8; color: white;">
                <div class="card-body">
                    <h5 class="card-title">$ 9871640</h5>
                    <p class="card-text">Total Amount </p>
                </div>
            </div>
        </div>
    </div>

    <div class="right-container" style="width: 50%; height: 70%; overflow:hidden; float: right;">
        <div class="card">
            <div class="card-body mx-auto">
                <h3 class="card-title" style="color: #0099ff;">Receivable amount</h3>
                <h3 style=" color:cornflowerblue; position:absolute; margin-top: 180px; margin-left: 150px;">
                    $9879465</h3>
                <img src="/static/images/data.png" style="opacity: 0.7;" width="400px" height="400px">
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>

<img src="/static/images/Generated/pie.png" alt="Error calculting the data">

<script>
    function show_form() {
            document.getElementById('addform').style.display = "block";
        }
    function hide_form(){
            document.getElementById('addform').style.display = "none"
        }
</script>
<script>
    function showinput() {
        if (document.getElementById('inputsearch').style.display = "none") {
            document.getElementById('inputsearch').style.display = "block";
            window.scrollTo(0,0);

        } else {
            document.getElementById('inputsearch').style.display = "none"
            window.scroll(0,0);
        }

    }
</script>
</body>
</html>